@font-face {
	font-family: "Marvel";
	font-style: normal;
	font-weight: 300;
	font-variant: normal;
	src: url(/fonts/MarvelRegular.ttf);
}

body {
	font-family: "Marvel", "Segoe UI", "Roboto" !important;
}

h1,
h2,
p {
	letter-spacing: 0.01em;
}

p {
	font-family: "Marvel", "Segoe UI", "Roboto" !important;
	font-size: 16px;
}
